
@{
    Layout = "../Shared/_RagistrationLogin.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/RegistrationLogin.css"/>
</head>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="All_Content_RegLog">
    <div class="Main_Page">
        <div class="Login_title">
            Log In
        </div>
        <div class="RegLog_center">
            <div class="Info">
                <div class="Second_Info">
                    <input type="text" placeholder="Login" class="Input">
                </div>
            </div>
            <div class="Info">
                <div class="Second_Info">
                    <input type="text" placeholder="Password" class="Input">
                </div>
            </div>
        </div>
        <div class="Confirm_Button_Position">
            <button class="Confirm_Button">
                Confirm
            </button>
        </div>
    </div>


</div>
</body>
</html>