
@{
    Layout = "../Shared/_RagistrationLogin.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/RegistrationLogin.css"/>
</head>

<!DOCTYPE html>
@model FashionProject.Models.UserViewModel
<html>
<head>
    <title>title</title>
</head>
<body>
<div class="All_Content_RegLog">
    <div class="Main_Page">
        <div class="Login_title">
            Registration
        </div>
       
    <form asp-action="Registration" asp-controller="RegistrationLogin" asp-anti-forgery="true" class="RegLog_center">
        <div class="Info">
            <div class="Second_Info">
                <input type="email" placeholder="Email" class="Input" name="email" asp-for="Email">
            </div>
        </div>
        <div class="Info">
        <div class="Second_Info">
            <input type="password" placeholder="Password" class="Input" name="password" asp-for="Password">
        </div>
        </div>
        <div class="Info">
            <div class="Second_Info">
                <input type="password" placeholder="Confirm Password" class="Input" name="confirmPassword" asp-for="ConfirmPassword">
            </div>
        </div>
        <div class="Confirm_Button_Position">
            <button type="submit" class="Confirm_Button">
                Join us!
            </button>
        </div>
    </form>
    </div>


</div>
</body>
</html>