
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FashionProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/BlockNews.css" />
    <link rel="stylesheet" href="~/css/Home.css" />
    <link rel="stylesheet" href="~/css/ContentPage.css" />

</head>
<body>
    <div class="loader">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="Header">
        <div class="EFN-Position">
            <div class="EFN">
                EFN
            </div>
        </div>

    </div>
    <div class="Menu">
        <div class="Menu-Buttons">
            <div class="Buttons">
                <a href="" class="ButtonsStyle">
                    News
                </a>
            </div>
            <div class="Buttons">
                <a href="" class="ButtonsStyle">
                    Categories
                </a>
            </div>
            <div class="Buttons">
                <a href="" class="ButtonsStyle">
                    Stars looks
                </a>
            </div>
            <div class="Buttons">
                <a href="" class="ButtonsStyle">
                    Charts
                </a>
            </div>
            <div class="Buttons">
                <a href="" class="ButtonsStyle">
                    Timeline
                </a>
            </div>
            <div class="Buttons">
                <a href="" class="ButtonsStyle">
                    Contact us
                </a>
            </div>
            <div class="Buttons">
                <a href="" class="ButtonsStyle">
                    About us
                </a>
            </div>
            <form id="SearchContent">
                <input name="title" type="search" placeholder="Search...">
            </form>
            <div class="Account_buttons">
                <div id="Switch" class="Buttons">
                    <div class="Buttons">
                        <a href="/RegistrationLogin/Login" class="ButtonsStyle">
                            Log in
                        </a>
                    </div>
                    <div class="Buttons">
                        <a href="/RegistrationLogin/Registration" class="ButtonsStyle">
                            Registration
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    <div class="Home">
        <footerR>
        </footerR>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(window).ready(function () {

            $(".loader").delay(400).fadeOut("slow");

        });

        $.ajax({
            type: 'GET',
            url: '/api/Home/currentUser',
            success: function (result) {
                console.log(result); //убрать
                if (result != null) {
                    document.querySelector("#Switch").innerHTML = ` <div class="Buttons">
                                                                        <a href="/Home/Profile" class="ButtonsStyle">
                                                                            Profile
                                                                        </a>
                                                                    </div>
                                                                    <div class="Buttons">
                                                                        <a href="#" onclick="LogOut()" class="ButtonsStyle">
                                                                            Log Out
                                                                        </a>
                                                                    </div>`
                }
            },
            error: function (err) {
                console.error(err);
            },
        });

        function LogOut() {
            $.ajax({
                type: 'GET',
                url: '/api/RegistrationLogin/logout',
                success: function (result) {
                    console.log(result);
                    document.querySelector("#Switch").innerHTML = `  <div class="Buttons">
                                                                        <a href="/RegistrationLogin/Login" class="ButtonsStyle">
                                                                            Log in
                                                                        </a>
                                                                    </div>
                                                                    <div class="Buttons">
                                                                        <a href="/RegistrationLogin/Registration" class="ButtonsStyle">
                                                                            Registration
                                                                        </a>
                                                                    </div>`
                },
                error: function (err) {
                    console.error(err);
                },
                complete: function (com) {
                    window.location.href = "/home/index";
                }
            });
        }



        $('#SearchContent').on('submit', function (e) {

            e.preventDefault();
            const data = Object.fromEntries(new FormData(e.target).entries());
            window.location.href = `/home/SearchPage?title=${data.title}`


        });
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>