@page

@{
    Layout = "../Shared/_Layout.cshtml";

}

<div class="Content_page">   
<h1 class="Content_title">
    Title
</h1>
<img id="ContentImg" src="" />
<h2 class="Content_subtitle">
    subTitle
</h2>
<h3 class="Content_category">
    catrgory
</h3>

<div class="Content_description">
    discription
</div>







<form id="Comennt_block">
    <textarea placeholder="Hi! user, what's on your mind?" class="main_comment" name="text"></textarea>

    <button type="submit">Publish</button>
</form>

<div class="View_Comment">
</div>
</div>




@section Scripts
{

    <script>
        var url_string = window.location.href;
        var url = new URL(url_string);
        var id = url.searchParams.get("id");

        var user;

        var viewComment = document.querySelector(".View_Comment")

        $.ajax({
            type: 'GET',
            url: '/api/Home/currentUser',
            success: function (result) {
                user = result;
            },
            error: function (err) {
                console.error(err);
            },
        });

        $.ajax({
            type: 'GET',
            url: `/api/Home/CreatePage?id=${id}`,
            success: function (result) {
                $(".Content_title").text(result.title);
                $(".Content_subtitle").text(result.subTitle);
                $(".Content_category").text(result.category);
                $(".Content_description").text(result.description);
                document.getElementById("ContentImg").src = "data:img/png;base64," + result.contentImg;
            },
        });

        $.ajax({
            type: 'GET',
            url: `/api/Home/ViewComment?contentId=${id}`,
            success: function (result) {

                for (var i = 0; i < result.length; i++) {
                    viewComment.innerHTML += `<div class="comment_text">${result[i].text}</div>`
                }
            },
            error: function (err) {
                console.error(err);
            },
        });

        $('#Comennt_block').on('submit', function (e) {

            e.preventDefault();
            const data = Object.fromEntries(new FormData(e.target).entries());

            $.ajax({
                type: 'POST',
                url: `/api/home/AddComment?contentId=${id}&userId=${user.id}`,
                data: data,
                success: function (result) {
                    console.log(result);
                },
                complete: function () {
                    window.location.href = window.location.href;
                },
            });

        });


    </script>
}

