@page

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}



<div class="Main_Content">
    @for (int i = 0; i < 20; i++)
    {
        <div class="Content_Frame">
            <div class="Frame">

            </div>
            <div class="Titel">
                Titel
            </div>
        </div>
    }
</div>