@page

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}


<div class="Block_content">
    <div class="Block_line"></div>
    <div class="Block_name">Fashion</div>
</div>
<div class="Main_Content">
    <div class="Card_container" style="">
        <!-- Normal Demo-->
        <div class="column">
            <!-- Post-->
            <div class="post-module">
                <!-- Thumbnail-->
                <div class="thumbnail">
                    <div class="date">
                        <div class="day">27</div>
                        <div class="month">Mar</div>
                    </div><img src="https://assets.vogue.ru/photos/61b249f5b821f40d22d84ac1/2:3/w_1920,c_limit/%D1%82%D0%B5%D0%BD.jpg" />
                </div>
                <!-- Post Content-->
                <div class="post-content">
                    <div class="category">News</div>
                    <h1 class="title">City Lights in New York</h1>
                    <h2 class="sub_title">The city that never sleeps.</h2>
                    <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                    <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="Card_container" style="">
        <!-- Normal Demo-->
        <div class="column">
            <!-- Post-->
            <div class="post-module">
                <!-- Thumbnail-->
                <div class="thumbnail">
                    <div class="date">
                        <div class="day">27</div>
                        <div class="month">Mar</div>
                    </div><img src="https://assets.vogue.ru/photos/61b249f5b821f40d22d84ac1/2:3/w_1920,c_limit/%D1%82%D0%B5%D0%BD.jpg" />
                </div>
                <!-- Post Content-->
                <div class="post-content">
                    <div class="category">News</div>
                    <h1 class="title">City Lights in New York</h1>
                    <h2 class="sub_title">The city that never sleeps.</h2>
                    <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                    <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="Card_container">
        <!-- Normal Demo-->
        <div class="column">
            <!-- Post-->
            <div class="post-module">
                <!-- Thumbnail-->
                <div class="thumbnail">
                    <div class="date">
                        <div class="day">27</div>
                        <div class="month">Mar</div>
                    </div><img src="https://assets.vogue.ru/photos/61b249f5b821f40d22d84ac1/2:3/w_1920,c_limit/%D1%82%D0%B5%D0%BD.jpg" />
                </div>
                <!-- Post Content-->
                <div class="post-content">
                    <div class="category">News</div>
                    <h1 class="title">City Lights in New York</h1>
                    <h2 class="sub_title">The city that never sleeps.</h2>
                    <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                    <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="Block_content">
    <div class="Block_line"></div>
    <div class="Block_name">Lifestyle</div>
</div>
<div class="Main_Content">


</div>

<div class="Block_content">
    <div class="Block_line"></div>
    <div class="Block_name">Beauty</div>
</div>
<div class="Main_Content">


</div>

<div class="Block_content">
    <div class="Block_line"></div>
    <div class="Block_name">Afisha</div>
</div>
<div class="Main_Content">


</div>




