@page
@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Profile";

}

<div class="Username">
    Username
</div>

<img class="Avatar" style='width:300px; height:300px;' src="https://i0.wp.com/t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" />

<div class="Settings_button">
    <a class="ButtonsStyle" href="/home/Settings">
        Settings
    </a>
</div>

@section Scripts {
    <script>
        $.ajax({
            type: 'GET',
            url: '/api/Home/currentUser',
            success: function (result) {
                console.log(result);
                if (result == null)
                    window.location.href = "/RegistrationLogin/login";
                $(".Username").text(result.username);
                if (result.avatar != null)
                    $(".Avatar").attr("src", ByteArrayToJpeg(result.avatar));

            },
            error: function (err) {
                console.error(err);
            },
        });

    </script>
}
