@page

@{
    Layout = "../Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Settings";

}
<div class="Username" style="font-size: 100px">
    Username
</div>

<img id="Avatar" style='width:300px; height:300px;' src="https://i0.wp.com/t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" />


<form id="SettingsForm">
    <label>Username</label>
    <div class="Info">
        <div class="Second_Info">
            <input type="text" placeholder="Email" class="Input" name="username">
        </div>
    </div>
    <label>Avatar</label>
    <div class="Info">
        <div class="Second_Info">
            <input id="avatar" type="file" class="Input" name="avatar">
        </div>
    </div>
    <div class="Info">
        <div class="Second_Info">
            <input type="password" placeholder="Password" class="Input" name="currentpassword">
        </div>
    </div><div class="Info">
    <div class="Second_Info">
        <input type="password" placeholder="Password" class="Input" name="newpassword">
    </div>
</div>
    <div class="Confirm_Button_Position">
        <button type="submit" class="Confirm_Button">
            Confirm
        </button>
    </div> 
</form>

@section Scripts {
    <script>
         $.ajax({
            type: 'GET',
            url: '/api/Home/currentUser',
             success: function (result) {
                if (result == null)
                    window.location.href = "/RegistrationLogin/login";
                $(".Username").text(result.username);
                if (result.avatar != null)
                    document.getElementById("Avatar").src = "data:img/png;base64," + result.avatar;
            },
            error: function (err) {
                console.error(err);
            },
        });
        $('#SettingsForm').on('submit', function (e) {

            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/api/Home/settings',
                data: new FormData($('#SettingsForm')[0]),
                processData: false,
                contentType: false,
                success: function (data) {
                    $("#avatar").html(data);
                },
                error: function (err) {
                    console.error(err);
                },
            });

        });

       

        
    </script>
    
}
