@page


@model FashionProject.Models.UserViewModel
@{
    Layout = "../Shared/_RagistrationLogin.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/RegistrationLogin.css" />
</head>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div class="All_Content_RegLog">
        <div class="Main_Page">
            <div class="Login_title">
                Log In
            </div>

            <form id="LogForm" class="RegLog_center">
                <div class="Info">
                    <div class="Second_Info">
                        <input type="email" placeholder="Email" class="Input" name="email" required>
                    </div>
                </div>
                <div class="Info">
                    <div class="Second_Info">
                        <input type="password" placeholder="Password" class="Input" name="password" required>
                    </div>
                </div>
                <div class="Confirm_Button_Position">
                    <button  type="submit" class="Confirm_Button">
                        Confirm
                    </button>
                </div>
            </form>
        </div>


    </div>
</body>
</html>

@section Scripts
{
    <script>
        $('#LogForm').on('submit', function (e) {

            e.preventDefault();
            const data = Object.fromEntries(new FormData(e.target).entries());

            $.ajax({
                type: 'POST',
                url: '/api/RegistrationLogin/login',
                data: data,
                success: function (result) {
                    console.log(result);
                },
                error: function (err) {
                    console.error(err);
                },
                complete: function (com) {
                    window.location.href = "/home/index"
                },
            });

        });
    </script>
}
