@{
    Layout = "../Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/HomeMain.css"/>
</head>


<div class="Main_Content">
    @for (int i = 0; i < 20; i++)
     {
        <div class="Content_Frame">
            <div class="Frame">

            </div>
            <div class ="Titel">
                Titel
             </div>
        </div>
     }
</div>