@{
    Layout = "../Shared/_Layout.cshtml";
}

@model FashionProject.Models.User;

@{
    ViewBag.Title = "Profile";

}
<h1>
    @Model.Username
</h1>

@if (Model.Avatar != null)
{
    <img style='width:500px; height:400px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" />
}
<div class="Settings_button">
    <a asp-action="Settings" asp-controller="Home" class="ButtonsStyle">
        Settings
    </a>
</div>
